# Enable required code-owner reviews in dev/main branch rules to enforce this.
/.github/CODEOWNERS @danny-avila
/.github/workflows/ @danny-avila
/.github/scripts/ @danny-avila
/.github/MAIN_PROMOTION.md @danny-avila
